

/* basic for drawing out the boundaries */
.county{
    stroke: white;
    stroke-linejoin: miter; 
}

.county.active{
    stroke: green;
    stroke-width: 2px;
}

.states {
    fill: none;
    stroke: black;
    stroke-linejoin: miter;
}

.legend.axis {
    stroke-width: 0;
  }

.legend.axis .tick{
    stroke-opacity: 0.5;
    stroke-width: 1;
    stroke: black;
  
}

#tooltip {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    background: rgb(216, 234, 247);
    border: 1px solid black;
    border-radius: 8px;
    padding: 8px 16px;
}


.container{
    display: grid;
    margin:auto;
    grid-template-columns: auto auto;

}

.info-box{
    font-size: 16px; 
    font-family: Calibri;
    border: 2px solid skyblue;
    border-radius: 5px;
  }

.info-box.highlight{
    border-style:outset;
    border: 2px solid green;
    background: rgb(142, 207, 142);
}
